@page "/app/my-links"
@rendermode @(new InteractiveAutoRenderMode(prerender: false))
@* @inject NavigationManager Navigation *@
@inject ILinkService LinkService
@inject  IJSRuntime JsRuntime
@layout InteractiveMainLayout
<PageTitle>MyLink</PageTitle>
<SectionContent SectionName="client-heading">
    <h1 class="text-main fw-bold text-center"> My Links</h1>
</SectionContent>

<div class="row mt-3">
    <div class="col-12 d-flex justify-content-between align-items-center">
        <h3>@(_showActiveOnly? "Active":"All Links")</h3>
        @* <a href="@ShowButtonLinkUrl" class="btn btn-sm btn-outline-primary">Show @(ShowActiveOnly ? "All" : "Active Link")</a> *@
        <button type="button" class="btn btn-sm btn-outline-primary" @onclick="ToggleActiveOnly">Show @(_showActiveOnly ? "All" : "Active Link")</button>
    </div>
    <hr/>
</div>
@if (_showToast)
{
    <Toast Text="Link Copied!" OnClose="() =>_showToast=false" TimeoutInMiliseconds="500"/>
}
@if (_isLoading)
{
    <Loader/>
}
else
{
    <div class="row links-container">
        <QuickGrid ItemsProvider="_linksProvider" Pagination="_paginationState" @ref="_quickGrid">
            <TemplateColumn>
                <div class="p-2 mb-4 border-bottom shadow link-item">
                    <div class="row">
                        <div class="col-sm-6 d-flex">
                            <div class="h3 d-flex flex-column justify-content-center">
                                <i class="bx bx-link"></i>
                                @if (context.IsActive)
                                {
                                    <i class="bx bx-check text-success fw-bold" title="Active"></i>
                                }
                                else
                                {
                                    <i class="bx bx-x text-danger fw-bold" title="In-active"></i>
                                }
                            </div>
                            <div class="vr mx-3"></div>
                            <div class="flex-grow-1">
                                <h5>
                                    <a href="@context.ShortUrl" target="_blank" class="link-dark" title="@context.ShortUrl">@context.ShortUrl</a>
                                    <button type="button" class="btn btn-sm btn-default ms-1" @onclick="() => CopyToAsync(context.ShortUrl)">
                                        <i class="bx bx-copy"></i>
                                    </button>
                                </h5>
                                <small class="d-flex">
                                    <span>LongUrl: <a href="@context.ShortUrl" target="_blank" class="link-dark" title="@context.LongUrl">@context.LongUrl</a></span>
                                    <button type="button" class="btn btn-sm btn-default ms-1" @onclick="() => CopyToAsync(context.LongUrl)">
                                        <i class="bx bx-copy"></i>
                                    </button>
                                </small>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <h5 class="">Total Click: @context.TotalClicks</h5>
                            <a href="/app/my-links/@context.Id" class="btn btn-sm btn-main">
                                <i class="bx bx-chart me-1"></i><span class="text-white">View Details</span>
                            </a>
                        </div>
                        <div class="col-sm-3 d-flex flex-column justify-content-center align-items-center link-stats">
                            <button type="button" class="btn btn-sm btn-outline-dark" @onclick="() => _editlink = context">
                                <i class="bx bx-edit me-1"></i> <span>Edit</span>
                            </button>
                            <button type="button" class="btn btn-sm btn-outline-danger" @onclick="() => _deleteConfirmationLink = context">
                                <i class="bx bx-edit me-1"></i> <span>Delete</span>
                            </button>
                        </div>
                    </div>
                </div>
            </TemplateColumn>
        </QuickGrid>
        <Paginator State="_paginationState"/>
    </div>
}
@if (_editlink is not null)
{
    <EditLinkModal Link="_editlink" OnClose="() => _editlink = null"
                   UserId="@_userId"
                   OnSave="OnLinkSave"/>
}
@if (_deleteConfirmationLink is not null)
{
    <Modal Titile="Confirm Delete?" OnClose="() => _deleteConfirmationLink = null">
        <ChildContent>
            <p>Do you really want to delete this link ?</p>
            <p> @_deleteConfirmationLink.ShortUrl <small>[@_deleteConfirmationLink.LongUrl]</small> </p>
        </ChildContent>
        <FooterContent>
            <div class="d-flex justify-content-between align-items-center w-100">
                <button type="button" class="btn btn-secondary" @onclick="() => _deleteConfirmationLink = null">Close</button>
                <button type="submit" class="btn btn-danger" @onclick="DeleteLinkAsync">Delete</button>
            </div>
        </FooterContent>
    </Modal>
}

@code {
    private const int PageSize = 5;
    private bool _isLoading = false;
    public bool _showToast;
    [CascadingParameter]
    public Task<AuthenticationState> AuthStateTask{ get; set; }
    private bool _showActiveOnly = true;
    
    private GridItemsProvider<LinkDto>? _linksProvider;
    public QuickGrid<LinkDto>? _quickGrid;
    private PaginationState _paginationState = new() { ItemsPerPage = PageSize };

    private LinkDto? _editlink = null;
    private string? _userId;
    private LinkDto? _deleteConfirmationLink = null;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateTask; 
        _userId = authState.User.GetUserId()?? "";
        try
        {
            _linksProvider = async request =>
            {
                var (links, totalCount) = await LinkService.GetLinksByUserAsync(_userId, request.StartIndex, request.Count ?? PageSize, _showActiveOnly);
                return GridItemsProviderResult.From(links, totalCount);
            };
            Console.WriteLine($"Fetching links for UserId: {_userId}");
            await _paginationState.SetCurrentPageIndexAsync(0);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error loading links: {ex.Message}");
            _isLoading = false;
            StateHasChanged();
        }
    }

    private async Task ToggleActiveOnly()
    {
        _showActiveOnly = !_showActiveOnly;
        _isLoading = true;
        if (_quickGrid is not null)
            {
                await _quickGrid.RefreshDataAsync();
            }
        _isLoading = false;
    }

    private async Task CopyToAsync(string linkUrl)
    {
        await JsRuntime.InvokeVoidAsync("window.copyToClipboard", linkUrl);
        _showToast = true;
    }

    private async void OnLinkSave(LinkDto updatelink)
    {
        _editlink!.LongUrl = updatelink.LongUrl;
        _editlink.IsActive = updatelink.IsActive;
        _editlink = null;
        if (_quickGrid is not null)
        { 
           await _quickGrid.RefreshDataAsync(); // Làm mới QuickGrid
        }
        StateHasChanged();
    }

    private async Task DeleteLinkAsync()
    {
        _isLoading = true;
        await LinkService.DeleteLinkAsync(_deleteConfirmationLink!.Id, _userId!);
        _deleteConfirmationLink = null;
        _isLoading = false;
        if (_quickGrid is not null)
        { 
            await _quickGrid.RefreshDataAsync(); // Làm mới QuickGrid
        }
        StateHasChanged();
    }
    

    enum ShowType
    {
        All,
        ActiveOnly
    }
}